<div class="tick-it-easy-main-page">
    <div class="main-page-left-side">
        <div id="welcome" class="main-page-introduction">Hello!</div>
        <div class="main-page-introduction">We would like you to ticket easy!</div>
        <div class="main-page-description">A new way to travel around the world</div>
        <button class="main-page-start-button"mat-button [routerLink]="['purchase']">Start your journey!</button>
    </div>
    <div class="main-page-right-side">
        <div class="main-page-image"></div>
    </div>
</div>