.tick-it-easy-main-page{
    display: flex;
    max-width:1200px;
    margin: 0px auto;
    color:white;
    height: 700px;
}

.main-page-left-side{
    margin:auto 0px;
    width: 50%;
}

.main-page-right-side{
    margin: auto 0px 0px 0px;
    width: 50%;
    padding-bottom: 30px;
}

.main-page-introduction{
    font-size: 60px;
    font-weight: 800;
    line-height:normal;
    padding: 10px 0px;
}

.main-page-description{
    font-size:30px;
    width: 65%;
    line-height: 1em;
    margin: auto 0px;
}

.main-page-start-button{
    padding: 15px 50px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #ffb366;
    outline: none;
    border:0;
    outline: 0;
    cursor: pointer;
    border-bottom-left-radius: 20% 100%;
    border-bottom-right-radius: 20% 100%;
    border-top-left-radius: 20% 100%;
    border-top-right-radius: 20% 100%;
}

.main-page-image{
    background-image:url("../../assets/img/main-page-img.png");
    background-size: 95%;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center; 
}

@media only screen and (max-width: 400px) {
    .tick-it-easy-main-page{
        display: block;
        padding-bottom: 70px;
        height:85%;
    }
    .main-page-left-side{
        width: fit-content;
        margin: 10px;
    }
    .main-page-right-side{
        display:none;
        height: 0%;
        width: 0%;
    }
  }
