/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    padding :0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aec2ea;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
